.site-header {
    background: #fff;
    border-bottom: 1px solid #e6e9ef
}

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px
}

.site-header .brand a {
    font-weight: 700;
    color: #111;
    text-decoration: none;
    font-size: 1.1rem
}

.site-header .main-nav a {
    margin-left: 14px;
    color: #555;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 8px
}