.thread{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.thread > div:first-of-type{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 100%;
    
    text-align: justify;
    background-color: red;
}