.page-container{
    max-width:500px;
    margin:30px auto;
    padding:0 16px;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:50px;
    border-radius:20px;
    background-color: #f7f7f7;
    border:1px solid #e0e0e0;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

form div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}
form button{
    margin-top: 20px;
    background:#f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    padding:4px 10px;
}