<footer class="site-footer">
  <div class="container">
    <p>Author: Jakub Witkowski</p>
    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/create">Create</a>
    </div>
  </div>
</footer>