<header class="site-header">
    <div class="container">
        <div class="brand"><a href="/">Simple Forum</a></div>
        <nav class="main-nav">
            <a href="/login">Log In</a>
        </nav>
    </div>
</header>