<div>
    <h2><%= thread.title </h2> %>
    <p><%= () => {
        if(thread.text.length > 30){
            return thread.text.slice(30) + "...";
        }else{
            return thread.text
        }
    } %>
    </p>
</div>